.board {
  border: 2px solid #333;
  border-radius: 10px;
  width: 320px;
  height: 320px;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
